@media (max-width:400px){
    .container{
        height: 200vh;
        width: 100vw;
        display: grid;
        place-items: center;
    }

    .container .container-content{
        background-color: white;
        height: 90%;
        width: 55%;
        border-radius: 15px;
    }

    .preps{
        margin-left: 21px;
        background-color: hsl(330, 100%, 98%);
        width: 90%;
    }
}