@import url('https://fonts.google.com/specimen/Outfit');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}

.body{
    background-color: hsl(30, 54%, 90%);
}

.recipe{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.recipe .recipe-content{
    background-color: white;
    height: 90%;
    width: 50%;
    border-radius: 20px;
}

.recipe-content img{
    height: 10%;
    width: 100%;
}

.recipe-content .heading{
    margin-left: 13px;
}

.recipe-content .heading h3{
    font-weight: 800;
}

.recipe-content .prep{
    height: 17%;
    width: 90%;
    background-color: hsl(330, 100%, 98%);
    margin-left: 5%;
}

.recipe-content .prep h4{
    color: hsl(332, 51%, 32%);
}

.recipe-content .ingredients h4{
    color: hsl(14, 45%, 36%);
    margin-left: 5%;
    margin-top: 7%;
    font-weight: 800;
}


.recipe-content .instructions ol{
    margin-right: 10%;
}

.recipe-content .instructions li{
    padding-top: 10px;
}

.recipe-content .instructions li::marker{
    color: hsl(14, 45%, 36%);
    font-size: 1rem;
}

.recipe-content .instructions h4{
    color: hsl(14, 45%, 36%);
    margin-left: 5%;
    font-weight: 800;
}

.recipe-content .instructions strong{
    font-weight: 700;
}

